.header {
	/* min-height: 50vh; */
	background-color: black;
	width: 100%;
}
.main {
	background-color: white;
	padding: 2rem 0;
	padding-top: 0;
	color: #000;
}

.hero {
	width: 100%;
	/* height: 400px; */
	/* background: linear-gradient(to right bottom, #051622 10%, #1a1e2c 20%, #1c2648 99%, #051622 40%); */
	background-color: #000;
	color: #fcfcfc;
	margin-bottom: 5rem;
	padding-bottom: 4rem;
}

.container {
	padding: 1rem 7rem;
}

.main h3 {
	/* color: black; */
	font-size: 6rem;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: center;
}

.addProjectForm {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addProjectForm input,
.addProjectForm textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.9rem; /* Increased font size */
}

.addProjectForm textarea {
	height: 120px; /* Increased height */
}

.addProjectForm button {
	width: 100%;
	padding: 15px;
	background-color: #0366d6;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 1.8rem; /* Increased font size */
}

.addProjectForm button:hover {
	background-color: #005cc5;
}

@media (max-width: 600px) {
	.addProjectForm {
		padding: 20px;
	}

	.addProjectForm input,
	.addProjectForm textarea {
		padding: 12px;
		font-size: 1rem; /* Reduced font size for smaller screens */
	}

	.addProjectForm textarea {
		height: 100px; /* Adjusted height for smaller screens */
	}

	.addProjectForm button {
		padding: 12px;
		font-size: 1rem; /* Reduced font size for smaller screens */
	}
}
