.title {
	text-align: center;
	color: #000;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.row {
	padding: 2rem 10rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	/* padding-left: 9rem; */
}
