.projectdiv {
	width: 100%;
	/* height: 100px; */
	background-color: #ffffff;
	border-radius: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	padding: 1rem 2rem;
	box-shadow: -1px -1px 3px #000;
}
.title {
	height: 100%;
	width: 65%;
	/* background-color: yellow; */
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	row-gap: 1rem;
}
.title h3 {
	font-size: 2.5rem;
	line-height: 1;
	margin-bottom: 0;
}
.title p {
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 0;
	color: #000;
}
.title h4 {
	color: #000;
	font-size: 2.3rem;
	font-weight: 600;
	font-style: italic;
}
.info {
	width: 35%;
	height: 100%;
	padding: 1rem;
	/* background-color: red; */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	row-gap: 0.5rem;
}
.info p:nth-child(1) {
	font-size: 2rem;
	color: #000;
	font-weight: 400;
	margin-bottom: 0;
}
.info p:nth-child(1) span {
	font-weight: 800;
}
.info h3 {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 800;
	display: inline-block;
	width: fit-content;
}
.info h3 span {
	font-weight: 400;
}
.info h3 span p {
	display: inline-block;
	margin-right: 1.3rem;
}
.info h3 span p:nth-child(1)::after {
	content: ",";
}
.info p {
	color: #000;
	font-size: 2rem;
	line-height: 1;
}
.info button {
	padding: 0.7rem 2rem;
	background-color: aquamarine;
	font-size: 2rem;
	border-radius: 1rem;
	color: #000;
}

.arrow {
	position: absolute;
	padding: 2rem;
}
