@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Gilroy;
	scroll-behavior: smooth;
}

html {
	height: 100%;
	width: 100%;
	font-size: 52.5%;
}

body {
	height: 100%;
	width: 100%;
	/* font-family: Roboto, Helvetica, Arial, sans-serif; */
	font-family: Gilroy;
}
#root {
	height: 100%;
	width: 100%;
	background-color: grey;
	color: #fff;
}

@media (max-width: 1050px) {
	html {
		font-size: 60%;
	}
}
@media (max-width: 900px) {
	html {
		font-size: 57%;
	}
}
@media (max-width: 600px) {
	html {
		font-size: 51%;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 45%;
	}
}
@media (max-width: 300px) {
	html {
		font-size: 40%;
	}
}

h2 {
	font-size: 6rem;
}
